services/node-red/node-red-flows.json
[
  {
    "id": "t-canary-email",
    "type": "function",
    "z": "tab-canary",
    "g": "g-canary",
    "name": "Mock Email",
    "func": "var s = msg.service || 'unknown';\nconsole.log('---[MOCK EMAIL]---');\nconsole.log('To: ops@transacto.com');\nconsole.log('Subject:', msg.payload === 'DOWN' ? 'CRITICAL - ' + s + ' DOWN' : 'INFO - ' + s + ' recovered');\nconsole.log('---[/MOCK EMAIL]---');\nmsg.status = { fill: msg.payload === 'DOWN' ? 'red' : 'green', shape: 'ring', text: s + ' ' + msg.payload };\nreturn msg;",
    "outputs": 1,
    "x": 1070,
    "y": 200,
    "wires": [
      [
        "t-canary-debug"
      ]
    ]
  },
  {
    "id": "t-canary-sms",
    "type": "function",
    "z": "tab-canary",
    "g": "g-canary",
    "name": "Mock SMS",
    "func": "var s = msg.service || 'unknown';\nconsole.log('---[MOCK SMS]---');\nconsole.log('To: +45 1234 5678');\nconsole.log('Message:', msg.payload === 'DOWN' ? s + ' is DOWN' : s + ' is HEALTHY');\nconsole.log('---[/MOCK SMS]---');\nreturn msg;",
    "outputs": 1,
    "x": 1070,
    "y": 300,
    "wires": [
      [
        "t-canary-debug"
      ]
    ]
  },
  {
    "id": "t-canary-debug",
    "type": "debug",
    "z": "tab-canary",
    "g": "g-canary",
    "name": "Canary status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1300,
    "y": 240,
    "wires": []
  }
]