services/node-red/node-red-flows.json
[
  {
    "id": "344a5ec8f258a2cd",
    "type": "tab",
    "label": "Infrastructure Connectivity",
    "disabled": false,
    "info": "Connectivity tests for core infrastructure components.\n\n- Kafka: consumes raw-transactions topic (broker at kafka:9092)\n- PostgreSQL TXN: transaction_processor DB (postgres/postgres@txn-db:5432)\n- PostgreSQL JWT: jwt_service DB (jwt_service/jwt_service003@jwt-db:5432)\n\nClick inject buttons to verify connections and see live counts."
  },
  {
    "id": "t-linkin-infra",
    "type": "link in",
    "z": "344a5ec8f258a2cd",
    "name": "infra-in",
    "links": [
      "t-linkout-infra"
    ],
    "x": 75,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "id": "25cfada78ca47aaa",
    "type": "tab",
    "label": "Performance Tests",
    "disabled": false
  },
  {
    "id": "t-linkin-perf",
    "type": "link in",
    "z": "25cfada78ca47aaa",
    "name": "perf-in",
    "links": [
      "t-linkout-perf"
    ],
    "x": 75,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "id": "tab-regression",
    "type": "tab",
    "label": "Regression Tests",
    "disabled": false
  },
  {
    "id": "t-linkin-regression",
    "type": "link in",
    "z": "tab-regression",
    "name": "regression-in",
    "links": [
      "t-linkout-regression"
    ],
    "x": 75,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "id": "tab-txn-tests",
    "type": "tab",
    "label": "Transaction API Tests",
    "disabled": false
  },
  {
    "id": "t-linkin-txn-tests",
    "type": "link in",
    "z": "tab-txn-tests",
    "name": "txn-tests-in",
    "links": [
      "t-linkout-txn-tests"
    ],
    "x": 75,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "id": "57559df197484502",
    "type": "tab",
    "label": "JWT Auth API",
    "disabled": false,
    "info": "JWT-based authentication API for login, registration, and token verification. Proxies to the jwt-service at port 3000."
  },
  {
    "id": "t-linkin-jwt",
    "type": "link in",
    "z": "57559df197484502",
    "name": "jwt-auth-in",
    "links": [
      "t-linkout-jwt"
    ],
    "x": 75,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "6e879028e49f88a2",
    "type": "tab",
    "label": "Transaction API Prototype",
    "disabled": false,
    "info": "Prototype REST API for transactions and accounts backed by PostgreSQL. Endpoints: /health, /api/stats, /api/transactions, /api/transactions/:id, /api/accounts, /api/accounts/:accountId. Authenticated via JWT."
  },
  {
    "id": "t-linkin-txn-proto",
    "type": "link in",
    "z": "6e879028e49f88a2",
    "name": "txn-proto-in",
    "links": [
      "t-linkout-txn-proto"
    ],
    "x": 75,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "c203cc42e86554dd",
    "type": "tab",
    "label": "Transacto",
    "disabled": false,
    "info": "Birds-eye view dashboard for the complete microservices system.\n\nServices:\n- User Service (3100) - user CRUD operations\n- JWT Auth (3000) - authentication and token management\n- Transaction API (4000) - account and transaction queries\n- Kafka (9092) - event streaming (raw-transactions topic)\n- PostgreSQL - jwt_service and transaction_processor databases\n\nInject buttons: Health checks for each service + Check All.\nLink nodes: quick navigation to each flow tab.",
    "env": []
  },
  {
    "id": "g-transacto-user",
    "type": "group",
    "z": "c203cc42e86554dd",
    "name": "User Service (3100)",
    "style": {
      "label": true
    },
    "nodes": [
      "t-inj-user-health",
      "t-http-user-health",
      "t-debug-user-health"
    ],
    "x": 834,
    "y": 559,
    "w": 552,
    "h": 82
  },
  {
    "id": "t-inj-user-health",
    "type": "inject",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-user",
    "name": "Health",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "health-user",
    "x": 930,
    "y": 600,
    "wires": [
      [
        "t-http-user-health"
      ]
    ]
  },
  {
    "id": "t-http-user-health",
    "type": "http request",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-user",
    "name": "GET /health",
    "method": "GET",
    "ret": "obj",
    "url": "http://user-service:3100/health",
    "tls": "",
    "x": 1130,
    "y": 600,
    "wires": [
      [
        "t-debug-user-health"
      ]
    ]
  },
  {
    "id": "t-debug-user-health",
    "type": "debug",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-user",
    "name": "Health",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1290,
    "y": 600,
    "wires": []
  },
  {
    "id": "g-transacto-jwt",
    "type": "group",
    "z": "c203cc42e86554dd",
    "name": "JWT Auth (3000)",
    "style": {
      "label": true
    },
    "nodes": [
      "t-inj-jwt-health",
      "t-http-jwt-health",
      "t-debug-jwt-health"
    ],
    "x": 834,
    "y": 319,
    "w": 552,
    "h": 82
  },
  {
    "id": "t-inj-jwt-health",
    "type": "inject",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-jwt",
    "name": "Health",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "health-jwt",
    "x": 930,
    "y": 360,
    "wires": [
      [
        "t-http-jwt-health"
      ]
    ]
  },
  {
    "id": "t-http-jwt-health",
    "type": "http request",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-jwt",
    "name": "GET /health",
    "method": "GET",
    "ret": "obj",
    "url": "http://jwt-service:3000/health",
    "tls": "",
    "x": 1130,
    "y": 360,
    "wires": [
      [
        "t-debug-jwt-health"
      ]
    ]
  },
  {
    "id": "t-debug-jwt-health",
    "type": "debug",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-jwt",
    "name": "Health",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1290,
    "y": 360,
    "wires": []
  },
  {
    "id": "g-transacto-txn",
    "type": "group",
    "z": "c203cc42e86554dd",
    "name": "Transaction API (4000)",
    "style": {
      "label": true
    },
    "nodes": [
      "t-inj-txn-health",
      "t-http-txn-health",
      "t-debug-txn-health"
    ],
    "x": 834,
    "y": 439,
    "w": 552,
    "h": 82
  },
  {
    "id": "t-inj-txn-health",
    "type": "inject",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-txn",
    "name": "Health",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "health-txn",
    "x": 930,
    "y": 480,
    "wires": [
      [
        "t-http-txn-health"
      ]
    ]
  },
  {
    "id": "t-http-txn-health",
    "type": "http request",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-txn",
    "name": "GET /health",
    "method": "GET",
    "ret": "obj",
    "url": "http://transaction-api-service:4000/health",
    "tls": "",
    "x": 1130,
    "y": 480,
    "wires": [
      [
        "t-debug-txn-health"
      ]
    ]
  },
  {
    "id": "t-debug-txn-health",
    "type": "debug",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-txn",
    "name": "Health",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1290,
    "y": 480,
    "wires": []
  },
  {
    "id": "g-transacto-overview",
    "type": "group",
    "z": "c203cc42e86554dd",
    "name": "System Overview",
    "style": {
      "label": true
    },
    "nodes": [
      "t-inj-checkall"
    ],
    "x": 254,
    "y": 439,
    "w": 292,
    "h": 82
  },
  {
    "id": "t-inj-checkall",
    "type": "inject",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-overview",
    "name": "Check All Health Endpoints",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "checkall",
    "x": 410,
    "y": 480,
    "wires": [
      [
        "t-http-user-health",
        "t-http-jwt-health",
        "t-http-txn-health"
      ]
    ]
  },
  {
    "id": "g-transacto-nav",
    "type": "group",
    "z": "c203cc42e86554dd",
    "name": "Navigation",
    "style": {
      "label": true
    },
    "nodes": [
      "t-linkout-user",
      "t-linkout-jwt",
      "t-linkout-txn-proto",
      "t-linkout-infra",
      "t-linkout-perf",
      "t-linkout-regression",
      "t-linkout-txn-tests"
    ],
    "x": 254,
    "y": 319,
    "w": 292,
    "h": 102
  },
  {
    "id": "t-linkout-user",
    "type": "link out",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-nav",
    "name": "→ User Service",
    "mode": "link",
    "links": [
      "t-linkin-user-svc"
    ],
    "x": 410,
    "y": 340,
    "wires": []
  },
  {
    "id": "t-linkout-jwt",
    "type": "link out",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-nav",
    "name": "→ JWT Auth API",
    "mode": "link",
    "links": [
      "t-linkin-jwt"
    ],
    "x": 410,
    "y": 360,
    "wires": []
  },
  {
    "id": "t-linkout-txn-proto",
    "type": "link out",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-nav",
    "name": "→ Transaction API Prototype",
    "mode": "link",
    "links": [
      "t-linkin-txn-proto"
    ],
    "x": 410,
    "y": 380,
    "wires": []
  },
  {
    "id": "t-linkout-infra",
    "type": "link out",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-nav",
    "name": "→ Infrastructure",
    "mode": "link",
    "links": [
      "t-linkin-infra"
    ],
    "x": 410,
    "y": 400,
    "wires": []
  },
  {
    "id": "t-linkout-perf",
    "type": "link out",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-nav",
    "name": "→ Performance Tests",
    "mode": "link",
    "links": [
      "t-linkin-perf"
    ],
    "x": 410,
    "y": 420,
    "wires": []
  },
  {
    "id": "t-linkout-regression",
    "type": "link out",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-nav",
    "name": "→ Regression Tests",
    "mode": "link",
    "links": [
      "t-linkin-regression"
    ],
    "x": 410,
    "y": 440,
    "wires": []
  },
  {
    "id": "t-linkout-txn-tests",
    "type": "link out",
    "z": "c203cc42e86554dd",
    "g": "g-transacto-nav",
    "name": "→ Transaction API Tests",
    "mode": "link",
    "links": [
      "t-linkin-txn-tests"
    ],
    "x": 410,
    "y": 460,
    "wires": []
  },
  {
    "id": "b2795fdf0aa3b698",
    "type": "group",
    "z": "25cfada78ca47aaa",
    "name": "k6 Performance Tests",
    "style": {
      "stroke": "#1565C0",
      "fill": "#1565C0",
      "fill-opacity": 0.08,
      "label": true
    },
    "nodes": [
      "e5c280ac5ffd0bde",
      "3d915d686d847d5c",
      "d8a3a3e004e47407",
      "323d787cfa0dabb8",
      "4dd4533f635d9a92",
      "6b3643b2d8cbbee2",
      "d2c97071fe676744",
      "844e12021492ed2e",
      "func-perf-result",
      "abaa62206425538f"
    ],
    "x": 4,
    "y": 79,
    "w": 792,
    "h": 342
  },
  {
    "id": "group-regression",
    "type": "group",
    "z": "tab-regression",
    "name": "Hurl Regression Tests",
    "style": {
      "stroke": "#2E7D32",
      "fill": "#2E7D32",
      "fill-opacity": 0.08,
      "label": true
    },
    "nodes": [
      "inject-reg-txn",
      "inject-reg-user",
      "exec-reg",
      "debug-reg-stdout",
      "debug-reg-stderr",
      "func-reg-result",
      "debug-reg-result"
    ],
    "x": 34,
    "y": 59,
    "w": 782,
    "h": 222
  },
  {
    "id": "group-txn-tests",
    "type": "group",
    "z": "tab-txn-tests",
    "name": "Transaction API Tests",
    "style": {
      "stroke": "#F57C00",
      "fill": "#F57C00",
      "fill-opacity": 0.08,
      "label": true
    },
    "nodes": [
      "inject-txn-test-login",
      "ch-txn-test-login-payload",
      "http-txn-test-login",
      "ch-txn-test-save-token",
      "debug-txn-test-login",
      "inject-txn-test-health",
      "http-txn-test-health",
      "debug-txn-test-health",
      "inject-txn-test-stats",
      "inject-txn-test-txns",
      "inject-txn-test-txn",
      "inject-txn-test-accts",
      "inject-txn-test-acct",
      "ch-set-bearer",
      "sw-route-test",
      "http-txn-test-stats",
      "debug-txn-test-stats",
      "http-txn-test-txns",
      "debug-txn-test-txns",
      "http-txn-test-txn",
      "debug-txn-test-txn",
      "http-txn-test-accts",
      "debug-txn-test-accts",
      "http-txn-test-acct",
      "debug-txn-test-acct"
    ],
    "x": 44,
    "y": 59,
    "w": 962,
    "h": 522
  },
  {
    "id": "group-jwt",
    "type": "group",
    "z": "57559df197484502",
    "name": "JWT Auth API",
    "style": {
      "stroke": "#E65100",
      "fill": "#E65100",
      "fill-opacity": 0.08,
      "label": true
    },
    "nodes": [
      "inject-health",
      "http-health",
      "debug-health",
      "inject-login",
      "change-login-payload",
      "http-login",
      "change-save-token",
      "debug-login",
      "inject-refresh",
      "change-refresh-payload",
      "http-refresh",
      "change-refresh-save",
      "debug-refresh",
      "inject-me",
      "change-me-token",
      "http-me",
      "debug-me"
    ],
    "x": 94,
    "y": 79,
    "w": 812,
    "h": 322
  },
  {
    "id": "a8da39c65ad31a9f",
    "type": "group",
    "z": "344a5ec8f258a2cd",
    "name": "Kafka Connectivity",
    "style": {
      "stroke": "#1565C0",
      "fill": "#1565C0",
      "fill-opacity": 0.08,
      "label": true
    },
    "nodes": [
      "040e76c320c91e83",
      "0a74b085be53eddf",
      "5b41dd632fb475ef"
    ],
    "x": null,
    "y": null,
    "w": null,
    "h": null
  },
  {
    "id": "b373263882348d60",
    "type": "group",
    "z": "344a5ec8f258a2cd",
    "name": "Database Counts",
    "style": {
      "stroke": "#2E7D32",
      "fill": "#2E7D32",
      "fill-opacity": 0.08,
      "label": true
    },
    "nodes": [
      "719dd7cb729ea8d1",
      "cd5e4f9c1dd9e3d3",
      "083ff99067c97488",
      "a8af7d358623bd6b",
      "ca8c6b6dec1990f3",
      "9765588992ab2673",
      "83350e24c0befd9e"
    ],
    "x": null,
    "y": null,
    "w": null,
    "h": null
  },
  {
    "id": "580b6ec86ffd3403",
    "type": "group",
    "z": "6e879028e49f88a2",
    "name": "Transaction API Prototype",
    "style": {
      "stroke": "#00897B",
      "fill": "#00897B",
      "fill-opacity": 0.08,
      "label": true
    },
    "nodes": [
      "7d2a161d54437bb6",
      "2e20861fc96af693",
      "ec8a70578dd7ce46",
      "d22acc315bc0510a",
      "a855e652c4623d18",
      "db26c7d735244d5c",
      "1ff03d5a9ef8d980",
      "294527ba86732273",
      "faa3520207799afe",
      "dd4ee60f9f57e640",
      "1aa35f7088f6c762",
      "a67ef1451b397eed",
      "96ee19280e6d582f",
      "de8ebc4fd306b38f",
      "7c4e92192a3b5c8b",
      "834f9b95d154ce36",
      "ef1f79264c50e73d",
      "a8b1057371b8d59d",
      "bd75c21be42e9bd8",
      "f44d685a4769f1fa",
      "e0bc2d89896b9819",
      "3f8fadc11add627c",
      "5794b00831bc96cd",
      "4454a51b0e99f0d9",
      "8a52b0bea6de97c2",
      "a7885b235f9732de",
      "29248633a930d391"
    ],
    "x": 14,
    "y": 59,
    "w": 2052,
    "h": 462
  },
  {
    "id": "040e76c320c91e83",
    "type": "oriolrius-kafka-broker",
    "z": "344a5ec8f258a2cd",
    "g": "a8da39c65ad31a9f",
    "name": "Kafka Broker",
    "hosts": "kafka:9092",
    "usesasl": false,
    "usetls": false
  },
  {
    "id": "719dd7cb729ea8d1",
    "type": "postgreSQLConfig",
    "g": "b373263882348d60",
    "name": "TXN Database",
    "host": "txn-db",
    "port": 5432,
    "database": "transaction_processor",
    "ssl": false,
    "applicationName": "node-red",
    "max": 10,
    "idle": 1000,
    "connectionTimeout": 10000,
    "user": "postgres",
    "password": "postgres"
  },
  {
    "id": "cd5e4f9c1dd9e3d3",
    "type": "postgreSQLConfig",
    "g": "b373263882348d60",
    "name": "JWT Database",
    "host": "jwt-db",
    "port": 5432,
    "database": "jwt_service",
    "ssl": false,
    "applicationName": "node-red",
    "max": 10,
    "idle": 1000,
    "connectionTimeout": 10000,
    "user": "jwt_service",
    "password": "jwt_service003"
  },
  {
    "id": "0a74b085be53eddf",
    "type": "oriolrius-kafka-consumer",
    "z": "344a5ec8f258a2cd",
    "g": "a8da39c65ad31a9f",
    "name": "raw-transactions",
    "broker": "040e76c320c91e83",
    "topic": "raw-transactions",
    "groupid": "node-red-group",
    "fromOffset": "earliest",
    "encoding": "utf8",
    "useSchemaValidation": false,
    "x": 300,
    "y": 60,
    "wires": [
      [
        "5b41dd632fb475ef"
      ]
    ]
  },
  {
    "id": "5b41dd632fb475ef",
    "type": "debug",
    "z": "344a5ec8f258a2cd",
    "g": "a8da39c65ad31a9f",
    "name": "debug output",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 550,
    "y": 60,
    "wires": []
  },
  {
    "id": "083ff99067c97488",
    "type": "inject",
    "z": "344a5ec8f258a2cd",
    "g": "b373263882348d60",
    "name": "Count rows",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 160,
    "wires": [
      [
        "a8af7d358623bd6b",
        "ca8c6b6dec1990f3"
      ]
    ]
  },
  {
    "id": "a8af7d358623bd6b",
    "type": "postgresql",
    "z": "344a5ec8f258a2cd",
    "g": "b373263882348d60",
    "name": "TXN table counts",
    "query": "SELECT table_name, (xpath('/row/c/text()', query_to_xml(format('SELECT count(*) AS c FROM %I', table_name), false, true, '')))[1]::text::int AS count FROM information_schema.tables WHERE table_schema = 'public'",
    "postgreSQLConfig": "719dd7cb729ea8d1",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 400,
    "y": 130,
    "wires": [
      [
        "9765588992ab2673"
      ]
    ]
  },
  {
    "id": "ca8c6b6dec1990f3",
    "type": "postgresql",
    "z": "344a5ec8f258a2cd",
    "g": "b373263882348d60",
    "name": "JWT table counts",
    "query": "SELECT table_name, (xpath('/row/c/text()', query_to_xml(format('SELECT count(*) AS c FROM %I', table_name), false, true, '')))[1]::text::int AS count FROM information_schema.tables WHERE table_schema = 'public'",
    "postgreSQLConfig": "cd5e4f9c1dd9e3d3",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 400,
    "y": 240,
    "wires": [
      [
        "83350e24c0befd9e"
      ]
    ]
  },
  {
    "id": "9765588992ab2673",
    "type": "debug",
    "z": "344a5ec8f258a2cd",
    "g": "b373263882348d60",
    "name": "TXN counts",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 600,
    "y": 130,
    "wires": []
  },
  {
    "id": "83350e24c0befd9e",
    "type": "debug",
    "z": "344a5ec8f258a2cd",
    "g": "b373263882348d60",
    "name": "JWT counts",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 600,
    "y": 240,
    "wires": []
  },
  {
    "id": "e5c280ac5ffd0bde",
    "type": "inject",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "Transaction API - Smoke",
    "props": [
      {
        "p": "payload",
        "v": "run -e API_BASE=http://transaction-api-service:4000 -e AUTH_URL=http://jwt-service:3000/api/auth/login /project/tests/performance/transaction-api-smoke.js",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Transaction API - Smoke",
    "x": 160,
    "y": 120,
    "wires": [
      [
        "6b3643b2d8cbbee2"
      ]
    ]
  },
  {
    "id": "3d915d686d847d5c",
    "type": "inject",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "Transaction API - Load",
    "props": [
      {
        "p": "payload",
        "v": "run -e API_BASE=http://transaction-api-service:4000 -e AUTH_URL=http://jwt-service:3000/api/auth/login /project/tests/performance/transaction-api-load.js",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Transaction API - Load",
    "x": 160,
    "y": 180,
    "wires": [
      [
        "6b3643b2d8cbbee2"
      ]
    ]
  },
  {
    "id": "d8a3a3e004e47407",
    "type": "inject",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "Transaction API - Stress",
    "props": [
      {
        "p": "payload",
        "v": "run -e API_BASE=http://transaction-api-service:4000 -e AUTH_URL=http://jwt-service:3000/api/auth/login /project/tests/performance/transaction-api-stress.js",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Transaction API - Stress",
    "x": 160,
    "y": 240,
    "wires": [
      [
        "6b3643b2d8cbbee2"
      ]
    ]
  },
  {
    "id": "323d787cfa0dabb8",
    "type": "inject",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "User Service - Smoke",
    "props": [
      {
        "p": "payload",
        "v": "run -e API_BASE=http://user-service:3100 /project/tests/performance/user-service-smoke.js",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "User Service - Smoke",
    "x": 160,
    "y": 320,
    "wires": [
      [
        "6b3643b2d8cbbee2"
      ]
    ]
  },
  {
    "id": "4dd4533f635d9a92",
    "type": "inject",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "User Service - Load",
    "props": [
      {
        "p": "payload",
        "v": "run -e API_BASE=http://user-service:3100 /project/tests/performance/user-service-load.js",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "User Service - Load",
    "x": 160,
    "y": 380,
    "wires": [
      [
        "6b3643b2d8cbbee2"
      ]
    ]
  },
  {
    "id": "6b3643b2d8cbbee2",
    "type": "exec",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "command": "k6",
    "addpay": true,
    "append": "",
    "useSpawn": "true",
    "timer": "600",
    "name": "",
    "x": 420,
    "y": 240,
    "wires": [
      [
        "d2c97071fe676744"
      ],
      [
        "844e12021492ed2e"
      ],
      [
        "func-perf-result"
      ]
    ]
  },
  {
    "id": "d2c97071fe676744",
    "type": "debug",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "stdout",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 600,
    "y": 180,
    "wires": []
  },
  {
    "id": "844e12021492ed2e",
    "type": "debug",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "stderr",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 600,
    "y": 240,
    "wires": []
  },
  {
    "id": "func-perf-result",
    "type": "function",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "Format result",
    "func": "const name = msg.topic || 'Test';\nlet code = msg.payload;\nif (typeof code === 'object') {\n  code = code.code !== undefined ? code.code : (code.exitCode !== undefined ? code.exitCode : JSON.stringify(code));\n}\nconst status = Number(code) === 0 ? 'PASSED' : 'FAILED';\nmsg.payload = '=== ' + name + ' ===\\nStatus: ' + status + '\\nExit code: ' + code;\nmsg.status = { fill: Number(code) === 0 ? 'green' : 'red', shape: 'ring', text: status };\nreturn msg;",
    "outputs": 1,
    "x": 540,
    "y": 300,
    "wires": [
      [
        "abaa62206425538f"
      ]
    ]
  },
  {
    "id": "abaa62206425538f",
    "type": "debug",
    "z": "25cfada78ca47aaa",
    "g": "b2795fdf0aa3b698",
    "name": "result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 700,
    "y": 300,
    "wires": []
  },
  {
    "id": "inject-reg-txn",
    "type": "inject",
    "z": "tab-regression",
    "g": "group-regression",
    "name": "Transaction API",
    "props": [
      {
        "p": "payload",
        "v": "--test --variable auth_base=http://jwt-service:3000 --variable auth_url=http://jwt-service:3000/api/auth/login --variable base_url=http://transaction-api-service:4000 --file-root /project /project/tests/regression/transaction-api-service-tests/run-all.hurl",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Transaction API - Regression",
    "x": 160,
    "y": 120,
    "wires": [
      [
        "exec-reg"
      ]
    ]
  },
  {
    "id": "inject-reg-user",
    "type": "inject",
    "z": "tab-regression",
    "g": "group-regression",
    "name": "User Service",
    "props": [
      {
        "p": "payload",
        "v": "--test --variable base_url=http://user-service:3100 --file-root /project /project/tests/regression/user-service-tests/run-all.hurl",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "User Service - Regression",
    "x": 160,
    "y": 200,
    "wires": [
      [
        "exec-reg"
      ]
    ]
  },
  {
    "id": "exec-reg",
    "type": "exec",
    "z": "tab-regression",
    "g": "group-regression",
    "command": "hurl",
    "addpay": true,
    "append": "",
    "useSpawn": "true",
    "timer": "120",
    "name": "",
    "x": 420,
    "y": 160,
    "wires": [
      [
        "debug-reg-stdout"
      ],
      [
        "debug-reg-stderr"
      ],
      [
        "func-reg-result"
      ]
    ]
  },
  {
    "id": "func-reg-result",
    "type": "function",
    "z": "tab-regression",
    "g": "group-regression",
    "name": "Format result",
    "func": "const name = msg.topic || 'Test';\nlet code = msg.payload;\nif (typeof code === 'object') {\n  code = code.code !== undefined ? code.code : (code.exitCode !== undefined ? code.exitCode : JSON.stringify(code));\n}\nconst status = Number(code) === 0 ? 'PASSED' : 'FAILED';\nmsg.payload = '=== ' + name + ' ===\\nStatus: ' + status + '\\nExit code: ' + code;\nmsg.status = { fill: Number(code) === 0 ? 'green' : 'red', shape: 'ring', text: status };\nreturn msg;",
    "outputs": 1,
    "x": 560,
    "y": 240,
    "wires": [
      [
        "debug-reg-result"
      ]
    ]
  },
  {
    "id": "debug-reg-stdout",
    "type": "debug",
    "z": "tab-regression",
    "g": "group-regression",
    "name": "stdout / failures",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 600,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug-reg-stderr",
    "type": "debug",
    "z": "tab-regression",
    "g": "group-regression",
    "name": "stderr / errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 600,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug-reg-result",
    "type": "debug",
    "z": "tab-regression",
    "g": "group-regression",
    "name": "result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 720,
    "y": 240,
    "wires": []
  },
  {
    "id": "inject-txn-test-login",
    "type": "inject",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Login",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 100,
    "wires": [
      [
        "ch-txn-test-login-payload"
      ]
    ]
  },
  {
    "id": "ch-txn-test-login-payload",
    "type": "change",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Set payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"email\":\"alice@example.com\",\"password\":\"secret123\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "x": 270,
    "y": 100,
    "wires": [
      [
        "http-txn-test-login"
      ]
    ]
  },
  {
    "id": "http-txn-test-login",
    "type": "http request",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "POST",
    "method": "POST",
    "ret": "obj",
    "url": "http://jwt-service:3000/api/auth/login",
    "tls": "",
    "x": 480,
    "y": 100,
    "wires": [
      [
        "ch-txn-test-save-token"
      ]
    ]
  },
  {
    "id": "ch-txn-test-save-token",
    "type": "change",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Save tokens",
    "rules": [
      {
        "t": "set",
        "p": "accessToken",
        "pt": "flow",
        "to": "payload.accessToken",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "refreshToken",
        "pt": "flow",
        "to": "$substringAfter($substringBefore($string(msg.headers['set-cookie']), ';'), 'refresh_token=')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 640,
    "y": 100,
    "wires": [
      [
        "debug-txn-test-login"
      ]
    ]
  },
  {
    "id": "debug-txn-test-login",
    "type": "debug",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Login",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 800,
    "y": 100,
    "wires": []
  },
  {
    "id": "inject-txn-test-health",
    "type": "inject",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Health",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 200,
    "wires": [
      [
        "http-txn-test-health"
      ]
    ]
  },
  {
    "id": "http-txn-test-health",
    "type": "http request",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://transaction-api-service:4000/health",
    "tls": "",
    "x": 640,
    "y": 200,
    "wires": [
      [
        "debug-txn-test-health"
      ]
    ]
  },
  {
    "id": "debug-txn-test-health",
    "type": "debug",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Health",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 800,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject-txn-test-stats",
    "type": "inject",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Stats",
    "props": [
      {
        "p": "route",
        "v": "stats",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 300,
    "wires": [
      [
        "ch-set-bearer"
      ]
    ]
  },
  {
    "id": "inject-txn-test-txns",
    "type": "inject",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Transactions",
    "props": [
      {
        "p": "route",
        "v": "txns",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 360,
    "wires": [
      [
        "ch-set-bearer"
      ]
    ]
  },
  {
    "id": "inject-txn-test-txn",
    "type": "inject",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Transaction detail",
    "props": [
      {
        "p": "route",
        "v": "txn",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 420,
    "wires": [
      [
        "ch-set-bearer"
      ]
    ]
  },
  {
    "id": "inject-txn-test-accts",
    "type": "inject",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Accounts",
    "props": [
      {
        "p": "route",
        "v": "accts",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 480,
    "wires": [
      [
        "ch-set-bearer"
      ]
    ]
  },
  {
    "id": "inject-txn-test-acct",
    "type": "inject",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Account detail",
    "props": [
      {
        "p": "route",
        "v": "acct",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 540,
    "wires": [
      [
        "ch-set-bearer"
      ]
    ]
  },
  {
    "id": "ch-set-bearer",
    "type": "change",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Set Bearer",
    "rules": [
      {
        "t": "set",
        "p": "_at",
        "pt": "msg",
        "to": "accessToken",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\"Authorization\": \"Bearer \" & _at}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 360,
    "y": 420,
    "wires": [
      [
        "sw-route-test"
      ]
    ]
  },
  {
    "id": "sw-route-test",
    "type": "switch",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Route",
    "property": "route",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "stats",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "txns",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "txn",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "accts",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "acct",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 520,
    "y": 420,
    "wires": [
      [
        "http-txn-test-stats"
      ],
      [
        "http-txn-test-txns"
      ],
      [
        "http-txn-test-txn"
      ],
      [
        "http-txn-test-accts"
      ],
      [
        "http-txn-test-acct"
      ]
    ]
  },
  {
    "id": "http-txn-test-stats",
    "type": "http request",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://transaction-api-service:4000/api/stats",
    "tls": "",
    "x": 700,
    "y": 300,
    "wires": [
      [
        "debug-txn-test-stats"
      ]
    ]
  },
  {
    "id": "debug-txn-test-stats",
    "type": "debug",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Stats",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 860,
    "y": 300,
    "wires": []
  },
  {
    "id": "http-txn-test-txns",
    "type": "http request",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://transaction-api-service:4000/api/transactions?limit=5",
    "tls": "",
    "x": 700,
    "y": 360,
    "wires": [
      [
        "debug-txn-test-txns"
      ]
    ]
  },
  {
    "id": "debug-txn-test-txns",
    "type": "debug",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Transactions",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 860,
    "y": 360,
    "wires": []
  },
  {
    "id": "http-txn-test-txn",
    "type": "http request",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://transaction-api-service:4000/api/transactions/example-tx-id",
    "tls": "",
    "x": 700,
    "y": 420,
    "wires": [
      [
        "debug-txn-test-txn"
      ]
    ]
  },
  {
    "id": "debug-txn-test-txn",
    "type": "debug",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Transaction detail",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 860,
    "y": 420,
    "wires": []
  },
  {
    "id": "http-txn-test-accts",
    "type": "http request",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://transaction-api-service:4000/api/accounts?limit=5",
    "tls": "",
    "x": 700,
    "y": 480,
    "wires": [
      [
        "debug-txn-test-accts"
      ]
    ]
  },
  {
    "id": "debug-txn-test-accts",
    "type": "debug",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Accounts",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 860,
    "y": 480,
    "wires": []
  },
  {
    "id": "http-txn-test-acct",
    "type": "http request",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "http://transaction-api-service:4000/api/accounts/example-acc-id",
    "tls": "",
    "x": 700,
    "y": 540,
    "wires": [
      [
        "debug-txn-test-acct"
      ]
    ]
  },
  {
    "id": "debug-txn-test-acct",
    "type": "debug",
    "z": "tab-txn-tests",
    "g": "group-txn-tests",
    "name": "Account detail",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 860,
    "y": 540,
    "wires": []
  },
  {
    "id": "inject-health",
    "type": "inject",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Health",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 120,
    "wires": [
      [
        "http-health"
      ]
    ]
  },
  {
    "id": "http-health",
    "type": "http request",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "http://jwt-service:3000/health",
    "tls": "",
    "x": 500,
    "y": 120,
    "wires": [
      [
        "debug-health"
      ]
    ]
  },
  {
    "id": "debug-health",
    "type": "debug",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Health",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 700,
    "y": 120,
    "wires": []
  },
  {
    "id": "inject-login",
    "type": "inject",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Login",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 200,
    "wires": [
      [
        "change-login-payload"
      ]
    ]
  },
  {
    "id": "change-login-payload",
    "type": "change",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Set payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"email\":\"alice@example.com\",\"password\":\"secret123\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "x": 340,
    "y": 200,
    "wires": [
      [
        "http-login"
      ]
    ]
  },
  {
    "id": "http-login",
    "type": "http request",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "POST",
    "method": "POST",
    "ret": "obj",
    "url": "http://jwt-service:3000/api/auth/login",
    "tls": "",
    "x": 500,
    "y": 200,
    "wires": [
      [
        "change-save-token"
      ]
    ]
  },
  {
    "id": "change-save-token",
    "type": "change",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Save tokens",
    "rules": [
      {
        "t": "set",
        "p": "accessToken",
        "pt": "flow",
        "to": "payload.accessToken",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "refreshToken",
        "pt": "flow",
        "to": "$substringAfter($substringBefore($string(msg.headers['set-cookie']), ';'), 'refresh_token=')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 630,
    "y": 200,
    "wires": [
      [
        "debug-login"
      ]
    ]
  },
  {
    "id": "debug-login",
    "type": "debug",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Login",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 790,
    "y": 200,
    "wires": []
  },
  {
    "id": "inject-refresh",
    "type": "inject",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Refresh",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 280,
    "wires": [
      [
        "change-refresh-payload"
      ]
    ]
  },
  {
    "id": "change-refresh-payload",
    "type": "change",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Set Cookie",
    "rules": [
      {
        "t": "set",
        "p": "_rt",
        "pt": "msg",
        "to": "refreshToken",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\"Cookie\": \"refresh_token=\" & _rt}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 340,
    "y": 280,
    "wires": [
      [
        "http-refresh"
      ]
    ]
  },
  {
    "id": "http-refresh",
    "type": "http request",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "POST",
    "method": "POST",
    "ret": "obj",
    "url": "http://jwt-service:3000/api/auth/refresh",
    "tls": "",
    "x": 500,
    "y": 280,
    "wires": [
      [
        "change-refresh-save"
      ]
    ]
  },
  {
    "id": "change-refresh-save",
    "type": "change",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Save tokens",
    "rules": [
      {
        "t": "set",
        "p": "accessToken",
        "pt": "flow",
        "to": "payload.accessToken",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "refreshToken",
        "pt": "flow",
        "to": "$substringAfter($substringBefore($string(msg.headers['set-cookie']), ';'), 'refresh_token=')",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 630,
    "y": 280,
    "wires": [
      [
        "debug-refresh"
      ]
    ]
  },
  {
    "id": "debug-refresh",
    "type": "debug",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Refresh",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 790,
    "y": 280,
    "wires": []
  },
  {
    "id": "inject-me",
    "type": "inject",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Me",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 360,
    "wires": [
      [
        "change-me-token"
      ]
    ]
  },
  {
    "id": "change-me-token",
    "type": "change",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Set Bearer",
    "rules": [
      {
        "t": "set",
        "p": "_at",
        "pt": "msg",
        "to": "accessToken",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\"Authorization\": \"Bearer \" & _at}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 340,
    "y": 360,
    "wires": [
      [
        "http-me"
      ]
    ]
  },
  {
    "id": "http-me",
    "type": "http request",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "GET",
    "method": "GET",
    "ret": "obj",
    "url": "http://jwt-service:3000/api/auth/me",
    "tls": "",
    "x": 500,
    "y": 360,
    "wires": [
      [
        "debug-me"
      ]
    ]
  },
  {
    "id": "debug-me",
    "type": "debug",
    "z": "57559df197484502",
    "g": "group-jwt",
    "name": "Me",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 700,
    "y": 360,
    "wires": []
  },
  {
    "id": "98a6f5f95e8a4f0d",
    "type": "link in",
    "z": "57559df197484502",
    "name": "jwt-auth-api-in",
    "links": [
      "255d1c72389ec6ce",
      "t-linkout-jwt"
    ],
    "x": 105,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "7d2a161d54437bb6",
    "type": "http in",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "GET /health",
    "url": "/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 100,
    "wires": [
      [
        "2e20861fc96af693"
      ]
    ]
  },
  {
    "id": "2e20861fc96af693",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Set response",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"status\":\"ok\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "x": 370,
    "y": 100,
    "wires": [
      [
        "ec8a70578dd7ce46"
      ]
    ]
  },
  {
    "id": "ec8a70578dd7ce46",
    "type": "http response",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 530,
    "y": 100,
    "wires": []
  },
  {
    "id": "d22acc315bc0510a",
    "type": "http in",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "GET /api/stats",
    "url": "/api/stats",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 160,
    "wires": [
      [
        "faa3520207799afe"
      ]
    ]
  },
  {
    "id": "a855e652c4623d18",
    "type": "http in",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "GET /api/transactions",
    "url": "/api/transactions",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 220,
    "wires": [
      [
        "faa3520207799afe"
      ]
    ]
  },
  {
    "id": "db26c7d735244d5c",
    "type": "http in",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "GET /api/transactions/:id",
    "url": "/api/transactions/:id",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 280,
    "wires": [
      [
        "faa3520207799afe"
      ]
    ]
  },
  {
    "id": "1ff03d5a9ef8d980",
    "type": "http in",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "GET /api/accounts",
    "url": "/api/accounts",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 340,
    "wires": [
      [
        "faa3520207799afe"
      ]
    ]
  },
  {
    "id": "294527ba86732273",
    "type": "http in",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "GET /api/accounts/:accountId",
    "url": "/api/accounts/:accountId",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 400,
    "wires": [
      [
        "faa3520207799afe"
      ]
    ]
  },
  {
    "id": "faa3520207799afe",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Extract auth header",
    "rules": [
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\"authorization\": req.headers.authorization}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 490,
    "y": 280,
    "wires": [
      [
        "dd4ee60f9f57e640"
      ]
    ]
  },
  {
    "id": "dd4ee60f9f57e640",
    "type": "http request",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Verify token",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://jwt-service:3000/api/auth/me",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "x": 690,
    "y": 280,
    "wires": [
      [
        "1aa35f7088f6c762"
      ]
    ]
  },
  {
    "id": "1aa35f7088f6c762",
    "type": "switch",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Auth?",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "200",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 850,
    "y": 280,
    "wires": [
      [
        "96ee19280e6d582f"
      ],
      [
        "a67ef1451b397eed"
      ]
    ]
  },
  {
    "id": "a67ef1451b397eed",
    "type": "switch",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Route?",
    "property": "req.url",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "/api/stats",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/api/transactions",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "/api/transactions/",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/api/accounts",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "/api/accounts/",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 1030,
    "y": 280,
    "wires": [
      [
        "7c4e92192a3b5c8b"
      ],
      [
        "ef1f79264c50e73d"
      ],
      [
        "bd75c21be42e9bd8"
      ],
      [
        "5794b00831bc96cd"
      ],
      [
        "8a52b0bea6de97c2"
      ]
    ]
  },
  {
    "id": "96ee19280e6d582f",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "401 error",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"error\":\"Invalid access token\"}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "statusCode",
        "pt": "msg",
        "to": "401",
        "tot": "num"
      }
    ],
    "action": "",
    "x": 1040,
    "y": 180,
    "wires": [
      [
        "de8ebc4fd306b38f"
      ]
    ]
  },
  {
    "id": "de8ebc4fd306b38f",
    "type": "http response",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1210,
    "y": 180,
    "wires": []
  },
  {
    "id": "7c4e92192a3b5c8b",
    "type": "postgresql",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Query stats",
    "query": "SELECT json_build_object('total_events', (SELECT COUNT(*)::int FROM processed_events), 'total_accounts', (SELECT COUNT(*)::int FROM accounts), 'volume_by_currency', (SELECT COALESCE(json_agg(json_build_object('currency', currency, 'tx_count', tx_count, 'total_volume', total_volume)), '[]'::json) FROM (SELECT raw_event->'payload'->>'currency' AS currency, COUNT(*)::int AS tx_count, SUM((raw_event->'payload'->>'amount')::numeric)::text AS total_volume FROM processed_events GROUP BY raw_event->'payload'->>'currency') sub)) AS result",
    "postgreSQLConfig": "719dd7cb729ea8d1",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1490,
    "y": 160,
    "wires": [
      [
        "834f9b95d154ce36"
      ]
    ]
  },
  {
    "id": "834f9b95d154ce36",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Extract result",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].result",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 1710,
    "y": 160,
    "wires": [
      [
        "3f8fadc11add627c"
      ]
    ]
  },
  {
    "id": "ef1f79264c50e73d",
    "type": "postgresql",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Query transactions",
    "query": "SELECT event_id, transaction_id, raw_event->>'eventType' AS event_type, raw_event->>'timestamp' AS event_timestamp, raw_event->'payload'->>'transactionId' AS transaction_id_inner, raw_event->'payload'->>'sourceAccountId' AS source_account_id, raw_event->'payload'->>'destinationAccountId' AS destination_account_id, (raw_event->'payload'->>'amount')::numeric AS amount, raw_event->'payload'->>'currency' AS currency, raw_event->'payload'->>'description' AS description, raw_event, processed_at FROM processed_events ORDER BY processed_at DESC LIMIT 50",
    "postgreSQLConfig": "719dd7cb729ea8d1",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1510,
    "y": 240,
    "wires": [
      [
        "a8b1057371b8d59d"
      ]
    ]
  },
  {
    "id": "a8b1057371b8d59d",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Format response",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"data\": payload, \"pagination\": {\"page\": 1, \"limit\": 50, \"total\": $count(payload)}}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 1730,
    "y": 240,
    "wires": [
      [
        "3f8fadc11add627c"
      ]
    ]
  },
  {
    "id": "bd75c21be42e9bd8",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Set query + param",
    "rules": [
      {
        "t": "set",
        "p": "params",
        "pt": "msg",
        "to": "[req.params.id]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 1300,
    "y": 320,
    "wires": [
      [
        "f44d685a4769f1fa"
      ]
    ]
  },
  {
    "id": "f44d685a4769f1fa",
    "type": "postgresql",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Query by id",
    "query": "SELECT event_id, transaction_id, raw_event->>'eventType' AS event_type, raw_event->>'timestamp' AS event_timestamp, raw_event->'payload'->>'transactionId' AS transaction_id_inner, raw_event->'payload'->>'sourceAccountId' AS source_account_id, raw_event->'payload'->>'destinationAccountId' AS destination_account_id, (raw_event->'payload'->>'amount')::numeric AS amount, raw_event->'payload'->>'currency' AS currency, raw_event->'payload'->>'description' AS description, raw_event, processed_at FROM processed_events WHERE event_id = $1 OR transaction_id = $1",
    "postgreSQLConfig": "719dd7cb729ea8d1",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1490,
    "y": 320,
    "wires": [
      [
        "e0bc2d89896b9819"
      ]
    ]
  },
  {
    "id": "e0bc2d89896b9819",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Format response",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"data\": payload[0]}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 1730,
    "y": 320,
    "wires": [
      [
        "3f8fadc11add627c"
      ]
    ]
  },
  {
    "id": "3f8fadc11add627c",
    "type": "http response",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1990,
    "y": 320,
    "wires": []
  },
  {
    "id": "5794b00831bc96cd",
    "type": "postgresql",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Query accounts",
    "query": "SELECT account_id, balance, currency, updated_at FROM accounts ORDER BY account_id LIMIT 50",
    "postgreSQLConfig": "719dd7cb729ea8d1",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1500,
    "y": 400,
    "wires": [
      [
        "4454a51b0e99f0d9"
      ]
    ]
  },
  {
    "id": "4454a51b0e99f0d9",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Format response",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"data\": payload, \"pagination\": {\"page\": 1, \"limit\": 50, \"total\": $count(payload)}}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 1730,
    "y": 400,
    "wires": [
      [
        "3f8fadc11add627c"
      ]
    ]
  },
  {
    "id": "8a52b0bea6de97c2",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Set query + param",
    "rules": [
      {
        "t": "set",
        "p": "params",
        "pt": "msg",
        "to": "[req.params.accountId]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 1290,
    "y": 480,
    "wires": [
      [
        "a7885b235f9732de"
      ]
    ]
  },
  {
    "id": "a7885b235f9732de",
    "type": "postgresql",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Query by accountId",
    "query": "SELECT account_id, balance, currency, updated_at FROM accounts WHERE account_id = $1",
    "postgreSQLConfig": "719dd7cb729ea8d1",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1510,
    "y": 480,
    "wires": [
      [
        "29248633a930d391"
      ]
    ]
  },
  {
    "id": "29248633a930d391",
    "type": "change",
    "z": "6e879028e49f88a2",
    "g": "580b6ec86ffd3403",
    "name": "Format response",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"data\": payload[0]}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "x": 1730,
    "y": 480,
    "wires": [
      [
        "3f8fadc11add627c"
      ]
    ]
  },
  {
    "id": "ec8cff7b8ff76bfe",
    "type": "link in",
    "z": "6e879028e49f88a2",
    "name": "transaction-api-prototype-in",
    "links": [
      "fde47446784c999f",
      "t-linkout-txn-proto"
    ],
    "x": 75,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "id": "e8815bb8e69779fd",
    "type": "global-config",
    "env": [],
    "modules": {
      "@oriolrius/node-red-contrib-kafka": "6.1.1",
      "node-red-contrib-postgresql": "0.15.4"
    }
  },
  {
    "label": "User Service",
    "info": "Manual test client for user-service.\n\nFirst click 'Login' to authenticate, then use other buttons.\nCreate user first to get a user ID, then get/change/delete by that ID.\n\nDocker host: http://user-service:3100",
    "id": "tab-user-svc",
    "type": "tab",
    "disabled": false
  },
  {
    "id": "t-linkin-user-svc",
    "type": "link in",
    "z": "tab-user-svc",
    "name": "user-service-in",
    "links": [
      "t-linkout-user"
    ],
    "x": 75,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "style": {
      "label": true,
      "stroke": "#7B1FA2",
      "fill-opacity": 0.08,
      "fill": "#7B1FA2"
    },
    "h": 582,
    "id": "group-user-svc",
    "type": "group",
    "y": 59,
    "w": 740,
    "name": "User Service",
    "x": 14,
    "nodes": [
      "inject-user-login",
      "ch-user-set-payload",
      "http-user-login",
      "ch-user-save-token",
      "debug-user-login",
      "inject-user-health",
      "http-user-health",
      "debug-user-health",
      "inject-user-me",
      "ch-user-bearer-me",
      "http-user-me",
      "debug-user-me",
      "inject-user-list",
      "ch-user-bearer-list",
      "http-user-list",
      "debug-user-list",
      "inject-user-create",
      "ch-user-create-payload",
      "http-user-create",
      "ch-user-save-id",
      "debug-user-create",
      "inject-user-get",
      "ch-user-get-url",
      "http-user-get",
      "debug-user-get",
      "inject-user-role",
      "ch-user-role-prep",
      "http-user-role",
      "debug-user-role",
      "inject-user-delete",
      "ch-user-delete-url",
      "http-user-delete",
      "debug-user-delete",
      "inject-user-notoken",
      "http-user-notoken",
      "debug-user-notoken"
    ],
    "z": "tab-user-svc"
  },
  {
    "topic": "",
    "id": "inject-user-login",
    "y": 100,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [],
    "once": false,
    "crontab": "",
    "name": "Login",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 170,
    "wires": [
      "ch-user-set-payload"
    ]
  },
  {
    "x": 310,
    "id": "ch-user-set-payload",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "msg",
        "to": "{\"email\":\"admin@example.com\",\"password\":\"admin123\"}",
        "t": "set",
        "p": "payload",
        "tot": "json"
      }
    ],
    "y": 100,
    "name": "Set payload",
    "wires": [
      "http-user-login"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "id": "http-user-login",
    "type": "http request",
    "g": "group-user-svc",
    "y": 100,
    "wires": [
      "ch-user-save-token"
    ],
    "x": 480,
    "ret": "obj",
    "method": "POST",
    "tls": "",
    "name": "",
    "z": "tab-user-svc",
    "url": "http://user-service:3100/api/login"
  },
  {
    "x": 630,
    "id": "ch-user-save-token",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "flow",
        "to": "payload.accessToken",
        "t": "set",
        "p": "admin_token",
        "tot": "jsonata"
      }
    ],
    "y": 100,
    "name": "Save token",
    "wires": [
      "debug-user-login"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "tostatus": false,
    "id": "debug-user-login",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "Login",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 770,
    "targetType": "msg",
    "wires": [],
    "y": 100,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  },
  {
    "topic": "",
    "id": "inject-user-health",
    "y": 180,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [],
    "once": false,
    "crontab": "",
    "name": "Health",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 170,
    "wires": [
      "http-user-health"
    ]
  },
  {
    "id": "http-user-health",
    "type": "http request",
    "g": "group-user-svc",
    "y": 180,
    "wires": [
      "debug-user-health"
    ],
    "x": 340,
    "ret": "obj",
    "method": "GET",
    "tls": "",
    "name": "",
    "z": "tab-user-svc",
    "url": "http://user-service:3100/health"
  },
  {
    "tostatus": false,
    "id": "debug-user-health",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "Health",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 500,
    "targetType": "msg",
    "wires": [],
    "y": 180,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  },
  {
    "topic": "",
    "id": "inject-user-me",
    "y": 260,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [],
    "once": false,
    "crontab": "",
    "name": "Me",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 170,
    "wires": [
      "ch-user-bearer-me"
    ]
  },
  {
    "x": 310,
    "id": "ch-user-bearer-me",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "msg",
        "to": "admin_token",
        "t": "set",
        "p": "_at",
        "tot": "flow"
      },
      {
        "pt": "msg",
        "to": "{\"Authorization\": \"Bearer \" & _at}",
        "t": "set",
        "p": "headers",
        "tot": "jsonata"
      }
    ],
    "y": 260,
    "name": "Set Bearer",
    "wires": [
      "http-user-me"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "id": "http-user-me",
    "type": "http request",
    "g": "group-user-svc",
    "y": 260,
    "wires": [
      "debug-user-me"
    ],
    "x": 480,
    "ret": "obj",
    "method": "GET",
    "tls": "",
    "name": "",
    "z": "tab-user-svc",
    "url": "http://user-service:3100/api/me"
  },
  {
    "tostatus": false,
    "id": "debug-user-me",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "Me",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 640,
    "targetType": "msg",
    "wires": [],
    "y": 260,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  },
  {
    "topic": "",
    "id": "inject-user-list",
    "y": 340,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [],
    "once": false,
    "crontab": "",
    "name": "List users",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 160,
    "wires": [
      "ch-user-bearer-list"
    ]
  },
  {
    "x": 310,
    "id": "ch-user-bearer-list",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "msg",
        "to": "admin_token",
        "t": "set",
        "p": "_at",
        "tot": "flow"
      },
      {
        "pt": "msg",
        "to": "{\"Authorization\": \"Bearer \" & _at}",
        "t": "set",
        "p": "headers",
        "tot": "jsonata"
      }
    ],
    "y": 340,
    "name": "Set Bearer",
    "wires": [
      "http-user-list"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "id": "http-user-list",
    "type": "http request",
    "g": "group-user-svc",
    "y": 340,
    "wires": [
      "debug-user-list"
    ],
    "x": 480,
    "ret": "obj",
    "method": "GET",
    "tls": "",
    "name": "",
    "z": "tab-user-svc",
    "url": "http://user-service:3100/api/users"
  },
  {
    "tostatus": false,
    "id": "debug-user-list",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "Users",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 640,
    "targetType": "msg",
    "wires": [],
    "y": 340,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  },
  {
    "topic": "",
    "id": "inject-user-create",
    "y": 420,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [],
    "once": false,
    "crontab": "",
    "name": "Create user",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 160,
    "wires": [
      "ch-user-create-payload"
    ]
  },
  {
    "x": 320,
    "id": "ch-user-create-payload",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "msg",
        "to": "admin_token",
        "t": "set",
        "p": "_at",
        "tot": "flow"
      },
      {
        "pt": "msg",
        "to": "{\"email\":\"test@example.com\",\"password\":\"test123\",\"role\":\"user\"}",
        "t": "set",
        "p": "payload",
        "tot": "json"
      },
      {
        "pt": "msg",
        "to": "{\"Authorization\": \"Bearer \" & _at}",
        "t": "set",
        "p": "headers",
        "tot": "jsonata"
      }
    ],
    "y": 420,
    "name": "Set payload+bearer",
    "wires": [
      "http-user-create"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "id": "http-user-create",
    "type": "http request",
    "g": "group-user-svc",
    "y": 420,
    "wires": [
      "ch-user-save-id"
    ],
    "x": 490,
    "ret": "obj",
    "method": "POST",
    "tls": "",
    "name": "",
    "z": "tab-user-svc",
    "url": "http://user-service:3100/api/users"
  },
  {
    "x": 630,
    "id": "ch-user-save-id",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "flow",
        "to": "payload.user.id",
        "t": "set",
        "p": "flow.new_user_id",
        "tot": "jsonata"
      }
    ],
    "y": 420,
    "name": "Save user id",
    "wires": [
      "debug-user-create"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "tostatus": false,
    "id": "debug-user-create",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "User created",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 770,
    "targetType": "msg",
    "wires": [],
    "y": 420,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  },
  {
    "topic": "",
    "id": "inject-user-get",
    "y": 500,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [
      {
        "vt": "str",
        "p": "url",
        "v": "http://user-service:3100/api/users/"
      }
    ],
    "once": false,
    "crontab": "",
    "name": "Get user",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 160,
    "wires": [
      "ch-user-get-url"
    ]
  },
  {
    "x": 320,
    "id": "ch-user-get-url",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "msg",
        "to": "admin_token",
        "t": "set",
        "p": "_at",
        "tot": "flow"
      },
      {
        "pt": "msg",
        "to": "url & flow.new_user_id",
        "t": "set",
        "p": "url",
        "tot": "jsonata"
      },
      {
        "pt": "msg",
        "to": "{\"Authorization\": \"Bearer \" & _at}",
        "t": "set",
        "p": "headers",
        "tot": "jsonata"
      }
    ],
    "y": 500,
    "name": "Set URL+bearer",
    "wires": [
      "http-user-get"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "g": "group-user-svc",
    "ret": "obj",
    "type": "http request",
    "y": 500,
    "id": "http-user-get",
    "tls": "",
    "wires": [
      "debug-user-get"
    ],
    "z": "tab-user-svc",
    "x": 490,
    "method": "GET",
    "name": "",
    "url": "http://user-service:3100/api/users/placeholder"
  },
  {
    "tostatus": false,
    "id": "debug-user-get",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "User detail",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 640,
    "targetType": "msg",
    "wires": [],
    "y": 500,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  },
  {
    "topic": "",
    "id": "inject-user-role",
    "y": 580,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [
      {
        "vt": "str",
        "p": "url",
        "v": "http://user-service:3100/api/users/"
      }
    ],
    "once": false,
    "crontab": "",
    "name": "Change role",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 150,
    "wires": [
      "ch-user-role-prep"
    ]
  },
  {
    "x": 330,
    "id": "ch-user-role-prep",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "msg",
        "to": "admin_token",
        "t": "set",
        "p": "_at",
        "tot": "flow"
      },
      {
        "pt": "msg",
        "to": "url & flow.new_user_id & '/role'",
        "t": "set",
        "p": "url",
        "tot": "jsonata"
      },
      {
        "pt": "msg",
        "to": "{\"Authorization\": \"Bearer \" & _at, \"Content-Type\": \"application/json\"}",
        "t": "set",
        "p": "headers",
        "tot": "jsonata"
      },
      {
        "pt": "msg",
        "to": "{\"role\":\"admin\"}",
        "t": "set",
        "p": "payload",
        "tot": "json"
      }
    ],
    "y": 580,
    "name": "Set URL+bearer+body",
    "wires": [
      "http-user-role"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "g": "group-user-svc",
    "ret": "obj",
    "type": "http request",
    "y": 580,
    "id": "http-user-role",
    "tls": "",
    "wires": [
      "debug-user-role"
    ],
    "z": "tab-user-svc",
    "x": 500,
    "method": "PUT",
    "name": "",
    "url": "http://user-service:3100/api/users/placeholder/role"
  },
  {
    "tostatus": false,
    "id": "debug-user-role",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "Role changed",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 660,
    "targetType": "msg",
    "wires": [],
    "y": 580,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  },
  {
    "topic": "",
    "id": "inject-user-delete",
    "y": 660,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [
      {
        "vt": "str",
        "p": "url",
        "v": "http://user-service:3100/api/users/"
      }
    ],
    "once": false,
    "crontab": "",
    "name": "Delete user",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 150,
    "wires": [
      "ch-user-delete-url"
    ]
  },
  {
    "x": 330,
    "id": "ch-user-delete-url",
    "type": "change",
    "g": "group-user-svc",
    "rules": [
      {
        "pt": "msg",
        "to": "admin_token",
        "t": "set",
        "p": "_at",
        "tot": "flow"
      },
      {
        "pt": "msg",
        "to": "url & flow.new_user_id",
        "t": "set",
        "p": "url",
        "tot": "jsonata"
      },
      {
        "pt": "msg",
        "to": "{\"Authorization\": \"Bearer \" & _at}",
        "t": "set",
        "p": "headers",
        "tot": "jsonata"
      }
    ],
    "y": 660,
    "name": "Set URL+bearer",
    "wires": [
      "http-user-delete"
    ],
    "action": "",
    "z": "tab-user-svc"
  },
  {
    "g": "group-user-svc",
    "ret": "obj",
    "type": "http request",
    "y": 660,
    "id": "http-user-delete",
    "tls": "",
    "wires": [
      "debug-user-delete"
    ],
    "z": "tab-user-svc",
    "x": 500,
    "method": "DELETE",
    "name": "",
    "url": "http://user-service:3100/api/users/placeholder"
  },
  {
    "tostatus": false,
    "id": "debug-user-delete",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "User deleted",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 660,
    "targetType": "msg",
    "wires": [],
    "y": 660,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  },
  {
    "topic": "",
    "id": "inject-user-notoken",
    "y": 740,
    "onceDelay": 0.1,
    "repeat": "",
    "props": [],
    "once": false,
    "crontab": "",
    "name": "No token",
    "type": "inject",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 170,
    "wires": [
      "http-user-notoken"
    ]
  },
  {
    "id": "http-user-notoken",
    "type": "http request",
    "g": "group-user-svc",
    "y": 740,
    "wires": [
      "debug-user-notoken"
    ],
    "x": 340,
    "ret": "obj",
    "method": "GET",
    "tls": "",
    "name": "",
    "z": "tab-user-svc",
    "url": "http://user-service:3100/api/me"
  },
  {
    "tostatus": false,
    "id": "debug-user-notoken",
    "complete": "payload",
    "console": false,
    "statusVal": "",
    "name": "401 no token",
    "type": "debug",
    "z": "tab-user-svc",
    "g": "group-user-svc",
    "x": 510,
    "targetType": "msg",
    "wires": [],
    "y": 740,
    "tosidebar": true,
    "active": true,
    "statusType": "auto"
  }
]